<h1> DELAY ON THE <%= link_to @delay.subway.letter, subway_path %> LINE</h1>
<%= @delay.name %> <br>
<%= @delay.description %> <br>
<%= link_to "Edit Delay", edit_delay_path %>
<%= link_to "All Delays", delays_path %>
